version: 2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.9
    environment:
      CODECLIMATE_REPO_TOKEN: c8c9bf91b1e168a3f507a2ef2d2d891eb2e9cf37c06ffd4d0c6ba4b7caf618ab
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec rubocop
      - run: bundle exec rspec
      - run: bundle exec codeclimate-test-reporter
