version: 2.1

jobs:
  build_with_coverage:
    docker:
      - image: cimg/ruby:3.2
    environment:
      CC_TEST_REPORTER_ID: c8c9bf91b1e168a3f507a2ef2d2d891eb2e9cf37c06ffd4d0c6ba4b7caf618ab
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec rubocop
      - run:
          name: Install Code Climate Test Reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
      - run: bundle exec rspec
      - run:
          name: Upload Code Climate Test Coverage
          command: |
            ./cc-test-reporter format-coverage -t simplecov -o "coverage/codeclimate.json"
            ./cc-test-reporter upload-coverage --debug
  lint_rubocop:
    docker:
      - image: cimg/ruby:3.2
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec rubocop
  build_variants:
    parameters:
      ruby-version:
        type: string
      rspec-version:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby-version >>
    steps:
      - checkout
      - run:
          name: Override RSpec version
          command: sed -i "/'rspec',/s/'~> [0-9]\.[0-9]\+'/'~> << parameters.rspec-version >>'/" rspectre.gemspec
      - run:
          name: Verify RSpec version was overridden
          command: set +o pipefail && ! git diff --exit-code rspectre.gemspec && set -o pipefail
      - run: bundle install
      - run: bundle exec rspec

workflows:
  build:
    jobs:
      - build_with_coverage
      - lint_rubocop
      - build_variants:
          matrix: # https://circleci.com/blog/circleci-matrix-jobs/
            parameters:
              ruby-version: ["3.1", "3.2", "3.3"] # https://github.com/CircleCI-Public/cimg-ruby
              rspec-version: ["3.10.0", "3.11.0", "3.12.0", "3.13.0"]
